@tailwind base;
@tailwind components;
@tailwind utilities;

.node {
    stroke: #fff;
    stroke-width: 0px;
}

.link {
    stroke: #999;
    stroke-opacity: 0.4;
    stroke-width: 2;
}


#displayed-units {
    li {
        div:first-of-type {
            a:first-of-type {
                @apply text-lg block 
            }
            a:nth-of-type(2) {
                @apply font-bold 
            }
        }
        div:nth-of-type(2) {
            @apply absolute bottom-0 right-0 m-2 p-1 bg-gray-300 w-8 h-8 rounded-md text-slate-100 font-mono flex content-center justify-center select-disabled
        }

        @apply relative bg-slate-100 border-[1px] p-3
    }
}
