@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'UniSans';
    font-weight: 600;
    src: url('@fonts/Uni Sans/UniSans-Trial-SemiBold.woff2');
}

@font-face {
    font-family: 'UniSans';
    font-weight: 400;
    src: url('@fonts/Uni Sans/UniSans-Trial-Regular.woff2');
}

#app {
    svg {
        background-color: #2a2a2a;
        background-color: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(5, 5, 34, 0.801) 100%);
    }
}

.node {
    circle {
        stroke: #fff;
        stroke-width: 3;
        r: 20px;
        box-shadow: 0px 0px 30px rgba($color: #2b2b2b, $alpha: 0.8);
    }
    
    rect {
        $width: 6rem;
        $height: 2.5rem;

        width: $width;
        height: $height;
        rx: 2px;

        stroke: #fff;
        stroke-width: 3;
        box-shadow: 0px 0px 30px rgba($color: #2b2b2b, $alpha: 0.8);

        transform: translate(calc(-1 * $width / 2), calc(-1 * $height / 2));
    }

    text {
        font-family: 'UniSans';
        font-weight: 600;
        font-size: larger;
        fill: white;
        text-anchor: middle;
        dominant-baseline: middle;
        cursor: pointer;
    }
}

.link {
    stroke-width: 3;
    cursor: default;
}

#displayed-units {
    li {
        div:first-of-type {
            a {
                font-family: 'UniSans';
                font-weight: 400;
                @apply text-lg block;
            }
            
        }
        div:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a:first-of-type {
                font-family: 'UniSans';
                font-weight: 600;
                @apply font-bold;
            }
            a:nth-of-type(2) {
                @apply font-mono;
                color: #030d19;
            }
        }

        @apply relative bg-slate-100 border-[1px] p-3;
    }
}
