@tailwind base;
@tailwind components;
@tailwind utilities;

.node {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: move;
}

.group {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: default;
    opacity: 0.7;
}

.link {
    stroke: #7a4e4e;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.arrowhead {
    fill: #999;
    stroke: none;
}

.label {
    fill: white;
    font-family: Verdana;
    font-size: 25px;
    text-anchor: middle;
    /* cursor: move; */
}

.label_alias {
    display: none;
}

.label::hover ~ .label_alias {
    display: block;
}
