html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 24, 39);
}

.d3-logo {
    height: 1.5rem;
    width: auto;
    user-select: none;
}
